{% extends 'aplicacion/base1.html' %}
{% load static %}  
{% block content %}
<style>
    #texar{
        color: #cad2c5;
    }
    #cdt{
        background-color: #ced4da;
    }
    #cd{
        background-color: #6c757d;
    }
    #cd1{
        background-color: #adb5bd;
    }

    body{
    
    background-image: url("{% static 'images/bg.png' %}");
  
  }

.containers {
  margin: auto;
  width: auto;
  height: 500px;
  max-width: 900px;
  overflow: hidden;
  border: 10px solid;
  border-top-color: #333333;
  border-left-color: #111111;
  border-bottom-color: #333333;
  border-right-color: #111111;
  position: relative;
}

.photo {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
img:nth-child(1) {
  animation-delay: 12s;
}

img:nth-child(2) {
  animation-delay: 8s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 0s;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}
#separador{
    background-color: #111111;
}

</style>

<body>


        <div class="row justify-content-center">
            <div class="col">
                <div class="containers">
                    <div class="row justify-content-center">               
                        <div  class="card text-center">
                            <div  class="card-body">
                                <h2 class="card-title">CREA Y VISUALZIA MAPAS GEOGRÁFICOS</h2>
                                <h5 class="card-text"><em>Crea y visualiza mapas variados con información sobre la cobertura de señales en Bolivia.</em></h5>
                            </div>
                        </div>
                    </div>
                    <img class='photo'  src="{% static 'images/mapa1.png' %}" width="100%" height="100%" />
                    <img class='photo'  src="{% static 'images/mapa2.png' %}" width="100%" height="100%" />
                    <img class='photo'  src="{% static 'images/mapa1.png' %}" width="100%" height="100%" />
                    <img class='photo'  src="{% static 'images/mapa3.png' %}" width="100%" height="100%" />
                </div>
            </div>
        </div>




        <div class="row justify-content-center">
            <div class="col">
                <div class="containers">
                    <div class="row justify-content-center">                  
                        <div  class="card text-center">
                            <div  class="card-body">
                                <h2 class="card-title">OBTEN LOS DATOS QUE NECESITES</h2>
                                <h5 class="card-text"><em>Con ayuda de los filtros podrás obtener datos mas personalizados, utilizandolos para crear mapas personalizados o descargarlos.</em></h5>
                            </div>
                        </div>
                    </div>
                    <img class='photo'  src="{% static 'images/filtro.png' %}" width="100%" height="100%" />
                    <img class='photo'  src="{% static 'images/tabla.png' %}" width="100%" height="100%" />
                    <img class='photo'  src="{% static 'images/filtro.png' %}" width="100%" height="100%" />
                    <img class='photo'  src="{% static 'images/interface.png' %}" width="100%" height="100%" />
                </div>

            </div>
        </div>


</body>

    
<footer class="bg-dark text-center text-white">

    <div class="container fluid">


        <section class="mb-4">
        <p>
            Plataforma piloto
        </p>
        </section>

    

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Andrés Zeballos Herbas | UNIVALLE
    </div>

</footer>



{% endblock %}
